<div class="doolsCrosshair" dojoAttachPoint="crosshair">
  <div dojoAttachPoint="movingCrosshairVertical" class="doolsCrosshairVertical"> </div>
  <div dojoAttachPoint="movingCrosshairHorizontal" class="doolsCrosshairHorizontal"> </div>
  <div dojoAttachPoint="staticCrosshairVertical" class="doolsCrosshairVertical"> </div>
  <div dojoAttachPoint="staticCrosshairHorizontal" class="doolsCrosshairHorizontal"> </div>
  <style type="text/css">
    @import "../resources/Crosshair.css";
   </style>
</div>
